<launch>
    <arg name="port" default="video0" />
	<!-- check if usb cam is attached to video 0 -->
	<group if="$(eval port == 'video0')">
		<include file="$(find usb_cam)/launch/usb_cam_video0.launch"/>
	</group>
	<!-- check if usb cam is attached to video 1 -->
	<group if="$(eval port == 'video1')">
		<include file="$(find usb_cam)/launch/usb_cam_video1.launch"/>
	</group>
	<!-- Launch 3 nodes as below
	At development stage, each node should be launched in a separated terminal to view the output -->

	<!-- This node will launch the ROS driver for Realsense T265 -->
	<include file="$(find realsense2_camera)/launch/rs_t265.launch"/>

	<!-- This node will launch MAVROS -->
	<include file="$(find mavros)/launch/vehicle3_apm_usb.launch"/>

	<!-- This node will launch the node that bridges realsense-ros and MAVROS -->
	<include file="$(find vision_to_mavros)/launch/t265_downfacing_tf_to_mavros.launch"/>

	<!-- This node will launch the nodes that detect april tag and publish static transforms-->
	<!-- <include file="$(find winglet_detector)/launch/winglet_detector-khadas.launch"/> -->
	<!-- <include file="$(find winglet_detector)/launch/stack-khadas.launch"/> -->
	<include file="$(find winglet_detector)/launch/stack-khadas_noApriltag.launch"/>

	<!-- This node will launch rosbag -->
	<include file="$(find khadas_control)/launch/rosbag_tg.launch"/>
</launch>
